<div class="panel">
  <app-navegador></app-navegador>
  <div class="fondo-volver container-fluid">
    <button class="m-2 mx-4 btn-volver" (click)="volver()">
      <i class="bi bi-arrow-left text-white"> volver </i>
    </button>
  </div>

  <div class="contenedor">

    <div class="row">
      <div class="col-lg-3">
        <div class="menu-listado-inventario">
          <div class="titulo">DATOS DE INVENTARIO</div>
                <div class="lista">
                    <div class="item" ><div class="name"> <i class="bi bi-card-list mx-2 "></i>  Año: {{inventarioDetalle.anio}}</div></div>
                </div>
                <div class="lista">
                    <div class="item" ><div class="name"><i class="bi bi-card-list mx-2"></i> Cantidad: {{this.expedientesListTemp.length}}</div></div>
                </div>
                <div class="lista">
                    <div class="item"  ><div class="name"><i class="bi bi-card-list mx-2"></i> Especialidad: {{inventarioDetalle.especialidad_inventario}}</div></div>
                </div>
                <div class="lista">
                    <div class="item" ><div class="name"> <i class="bi bi-card-list mx-2"></i> Serie de Doc: {{inventarioDetalle.serie_doc}}</div></div>
                </div>
                <div class="lista">
                    <div class="item" ><div class="name"> <i class="bi bi-card-list mx-2"></i> Tipo de Doc: {{inventarioDetalle.tipo_doc}}</div></div>
                </div>
                <div class="lista">
                    <div class="item" ><div class="name"> <i class="bi bi-card-list mx-2"></i> Supervisor: {{inventarioDetalle.nombre+' '+inventarioDetalle.ap_paterno}}</div></div>
                </div>
          </div>
        </div>
      <div class="col-lg-9">
        <div class="presentacion_user mb-4">
          <div class="icon-title-container">
            <i class="bi bi-card-list icon-custom"></i>
            <h2 class="titulo_reporte mx-2">PREPARACIÓN DE EXPEDIENTES </h2>
          </div>
        </div>
        <div class="card rounded shadow border-2 ">
          <div class="card-header py-3 d-flex justify-content-between align-items-center ">
            <input type="text" class="form-control" name="registroexpediente" placeholder="Buscar expediente"
              (input)="buscarEnObjeto($event)">
          </div>
          <div class="card-body px-5 bg-white rounded">
            <div class="mb-2 d-flex align-items-center">
              <button class="btn btn-secondary btn-sm ">preparados({{this.expedientesListTemp.length-exp_count_pendientes}})</button>
              <button type="button" class="btn btn-outline-success btn-sm mx-2 " >pendientes({{exp_count_pendientes}})</button>
            </div>
            <div class="table-responsive">
              <table class="table text-center  table-hover" id="excel-table">
                <colgroup>
                  <col style="width: 10%;">
                  <col style="width: 70%;">
                  <col style="width: 10%;">
                </colgroup>
                <thead class="text-white table-success">
                  <tr>
                    <th scope="col">Nro</th>
                    <th scope="col">EXPEDIENTE</th>
                    <th scope="col">ESTADO</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let expediente of expedientesList | paginate: { itemsPerPage: 10, currentPage: p }; let i = index" >
                    <th scope="row">{{ i + (p - 1) * 10 + 1 }}</th>
                    <td (click)="!expediente.estado_preparado ? openModal(expediente.id_expediente) : mensajePreparacion()">{{expediente.nombre_expediente}}</td>
                    <td>
                      <i *ngIf="expediente.estado_preparado" class="bi bi-check-lg" style=" color: green; padding: 0px 0px; margin: 0px 0px"></i>
                      <i (click)="openModal(expediente.id_expediente)" *ngIf="!expediente.estado_preparado" class="bi bi-file-earmark-x" style=" padding: 0px 0px; margin: 0px 0px"></i>

                        <i *ngIf="expediente.estado_preparado" (click)="openModal(expediente.id_expediente)" class="bi bi-eye-fill mx-4" style=" color: rgb(77, 0, 128); padding: 0px 0px; margin: 0px 0px"></i>
                        <!-- <i *ngIf="!expediente.estado_preparado" class="bi bi-eye-fill mx-4"></i> -->

                        <i *ngIf="!expediente.estado_digitalizado && expediente.estado_preparado" (click)="openModal(expediente.id_expediente)" class="bi bi-pencil" style=" color: rgb(0, 45, 128); padding: 0px 0px; margin: 0px 0px"></i>
                        <!-- <i *ngIf="!expediente.estado_preparado" class="bi bi-pencil"></i> -->
                    </td>
                  </tr>              
                </tbody>
              </table>
              <div class="d-flex justify-content-end ">
                <pagination-controls (pageChange)="p = $event"   previousLabel="Anterior"   nextLabel="Siguiente"  ></pagination-controls>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal_1 -->
    <div class="modal modal-lg fade " id="exampleModalCenter" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <div class="bg-secondary custom-width d-flex justify-content-center">
              <h5 class="modal-title m-2 text-white" id="exampleModalLongTitle">{{nombre_expediente}} </h5>
            </div>
          </div>
          <div class="modal-body text-start">
            <div class="form-group">
              
              <div class="row">
                  <div class="col-sm-4">
                      <div class="mb-3 row">
                          <label for="inputjojas"
                              class="col-sm-6 col-form-label d-flex justify-content-end">Fojas Físicas</label>
                          <div class="col-sm-6">
                              <input type="number" class="form-control" id="inputfojas" name="fojas" >
                          </div>
                      </div>
                      <div class="mb-3 row">
                          <label for="inputjojas" class="col-sm-6 col-form-label d-flex justify-content-end">1 cara</label>
                          <div class="col-sm-6">
                              <input type="number" class="form-control" id="inputfojasunacara" name="fojasunacara" >
                          </div>
                      </div>
                      <div class="mb-3 row">
                          <label for="inputjojas" class="col-sm-6 col-form-label d-flex justify-content-end">2
                              caras</label>
                          <div class="col-sm-6">
                              <input type="number" class="form-control" id="inputfojasdoscaras" name="fojasdoscaras">
                          </div>
                      </div>
                      <div class="row " >
                        <div class="col-md-12" style="padding-right:5px" >
                            

                            <div class="d-flex justify-content-end" >
                              <label class="form-check-label" for="flexCheckChecked"> Doc Originales </label>
                              <input  class="form-check-input mx-2" type="checkbox" value={true} id="original" name="originales" >
                            </div>
                            <div class="d-flex justify-content-end">
                              <label class="form-check-label" for="flexCheckChecked"> Copias </label>
                              <input class="form-check-input mx-2" type="checkbox" value={true} id="copia" name="copias" >
                            </div>
        
                        </div>
                    </div>
                  </div>
                  <div class="col-sm-8">
                    <textarea id="observaciones" name="observaciones" placeholder="Observaciones" class="form-control" style="height: 208px;resize: none" rows="6"></textarea>
                  </div>
              </div>
          </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="closeModal()">Cerrar</button>
            <button type="button" class="btn btn-primary" (click)="guardarTexto()"  [style]="disablebotonModificar">{{tituloBoton}}</button>
          </div>
        </div>
      </div>
    </div>
    <!-- fin moda_1 -->
 
  </div>
</div>