@import '~bootstrap-icons/font/bootstrap-icons.css';
.navbar{
    background-color: #176091;
    padding: 0%;
    margin: 0px;
}

.logo_text, .user_text{
    font-weight: bold; /* Hace el texto más grueso */
    color:rgba(255, 255, 255, 0.699);/* Establece el color del texto en blanco */   
    font-size: 22px;
}

.icon-custom {
    
    color:rgba(255, 255, 255, 0.699);/* Establece el color del texto en blanco */
    cursor: pointer; /* Cambiar el cursor a una manito cuando el ratón está sobre el icono */
    font-weight: bold; 
    font-size: 22px;
}

.icon-custom:hover {
    color:white
  }


 

  
  

  
  