@import '~bootstrap-icons/font/bootstrap-icons.css';


.icon-custom {
    cursor: pointer; /* Cambiar el cursor a una manito cuando el ratón está sobre el icono */
    font-weight: bold; 
    font-size: 3.5rem;
    color: #929FB1;
}
/* boton volver */
.btn-volver{
    background-color:  #176091;
    border-radius: 5px;
    border-color: #176091;
   
}

.fondo-volver{
    background-color: #73bced2c;
}

.contenedor{
    margin: 2% 4%;
}

/* menu listado de resportes */
.menu-listado-reportes{
    box-sizing: border-box;
    background-color: #f1e55d5d;
    /* background-color: #F6F4EE; */
    padding: 20px;
    border-radius: 16px;
}
.menu-listado-reportes .titulo{
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    color: #6E7A89;
}
.menu-listado-reportes .lista{
    margin: 10px 0;
}
.menu-listado-reportes .lista .item .name{
    display: inline-block;
    padding: 0 0 0 8px;
    font-size: 1rem;
    font-weight: 500;
    color: #434343;
}
/* titulo reporte */
.icon-title-container {
    display: flex;
    align-items: center;
  }
/* cuerpo de tarjetas  */
.data-report{
    color: #6E7A89;
}

/* titulo reportes */
.titulo_reporte{
    font-size: 2rem;
    font-weight: 700;
    color: #404B5A;
}

.name,.hand_cursor{
    cursor: pointer; /*convierte el cursor en una mano*/
}


.custom-width {
    width: 100%;
    margin: 0 auto; /* Centrar horizontalmente */
    border-radius: 5px;

  }