<div class="panel">
    <app-navegador></app-navegador>
    <div class="fondo-volver container-fluid">
        <button class="m-2 mx-4 btn-volver" (click)="volver()">
            <i class="bi bi-arrow-left text-white"> volver </i>
        </button>
    </div>

    <div class="container-fluid">
        <div class="row  d-flex align-items-center presentacion_user offset-md-3">
            <div class="col-md-4 vertical-center">
                <i class="bi bi-pencil-square icon-custom"></i>
            </div>

            <div class="col-md-8">
                <h2 class="titulo_usuario">Preparación de Documento</h2>
            </div>
        </div>

        <div class="d-flex justify-content-center">
            <form class="contenedor ">

                <div class="border border-secondary bg-secondary rounded-top px-4 py-2 ">
                    <div class="d-flex justify-content-end">
                        <h5 class="text-white m-2">Año: {{detalleExpediente.anio}}</h5>
                    </div>
                    <h5 class="text-white m-2">Nro inventario: {{detalleExpediente.id_inventario}}</h5>
                    <h5 class="text-white m-2">Serie Documental: {{ detalleExpediente.serie_doc}}</h5>
                    <h5 class="text-white m-2">Especialidad: {{ detalleExpediente.especialidad_inventario}}</h5>
                    <h5 class="text-white m-2 mb-4">Nombre de Expediente: {{detalleExpediente.nombre_expediente}}</h5>



                </div>
                <!-- DATOS DE INVENTARIO -->
                <fieldset class="px-4 rounded-bottom border-top-0 border shadow border-2 mb-5">

                    <div class="form-group">
                        <hr>
                        <label for="anio" class="form-label">Demandante:</label>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="input-group input-group-sm mb-3">
                                    <span class="input-group-text " id="inputGroup-sizing-sm">Nombre:</span>
                                    <input type="text" id="demandante_nombre" class="form-control"
                                        aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                                </div>
                                <div class="input-group input-group-sm mb-3">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">Apellido Paterno: </span>
                                    <input type="text" id="demandante_ap" class="form-control"
                                        aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                                </div>
                                <div class="input-group input-group-sm mb-3">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">Apellido Materno: </span>
                                    <input type="text" id="demandante_am" class="form-control"
                                        aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                                </div>
                                <div class="input-group input-group-sm mb-3">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">DNI: </span>
                                    <input type="number" id="demandante_dni" class="form-control"
                                        aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                                </div>
                                <div class="d-flex justify-content-end">
                                    <button class="btn btn-secondary btn-sm"
                                        (click)="enviarTablaDemandantes()">enviar</button>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <table class="table text-center  table-hover">
                                    <thead class="thead-ligth bg-secondary text-white table-success">
                                        <tr>
                                            <th scope="col">Nro</th>
                                            <th scope="col">NOMBRE COMPLETO</th>
                                            <th scope="col">DNI</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of listaTempDemanantes, index as i" class="table-barra">

                                            <th scope="row">{{i+1}}</th>
                                            <td>{{item.nombre_parte+' '+item.ap_parte+' '+item.am_parte}}</td>
                                            <td>{{item.dni}}</td>

                                        </tr>


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="form-group">
                        <label for="anio" class="form-label ">Demandando:</label>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="input-group input-group-sm mb-3">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">Nombre: </span>
                                    <input type="text" id="demandado_nombre" class="form-control"
                                        aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                                </div>
                                <div class="input-group input-group-sm mb-3">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">Apellido Paterno: </span>
                                    <input type="text" id="demandado_ap" class="form-control"
                                        aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                                </div>
                                <div class="input-group input-group-sm mb-3">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">Apellido Materno: </span>
                                    <input type="text" id="demandado_am" class="form-control"
                                        aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                                </div>
                                <div class="input-group input-group-sm mb-3">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">DNI </span>
                                    <input type="number" id="demandado_dni" class="form-control"
                                        aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                                </div>
                                <div class="d-flex justify-content-end">
                                    <button class="btn btn-secondary btn-sm"
                                        (click)="enviarTablaDemandados()">enviar</button>
                                </div>

                            </div>
                            <div class="col-sm-6">
                                <table class="table text-center  table-hover">
                                    <thead class="thead-ligth bg-secondary text-white table-success">
                                        <tr>
                                            <th scope="col">Nro</th>
                                            <th scope="col">NOMBRE COMPLETO</th>
                                            <th scope="col">DNI</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of listaTempDemandados, index as i" class="table-barra">

                                            <th scope="row">{{i+1}}</th>
                                            <td>{{item.nombre_parte+' '+item.ap_parte+' '+item.am_parte}}</td>
                                            <td>{{item.dni}}</td>
                                        </tr>


                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                    <hr>
                    <div class="form-group">
                        <label for="fojas" class="form-label ">Fojas</label>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="mb-3 row">
                                    <label for="inputjojas"
                                        class="col-sm-4 col-form-label d-flex justify-content-end">Fojas Físicas</label>
                                    <div class="col-sm-8">
                                        <input type="number" class="form-control" id="inputfojas" name="fojas"
                                            [(ngModel)]="data_expediente.fojas">
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label for="inputjojas" class="col-sm-4 col-form-label d-flex justify-content-end">1
                                        cara</label>
                                    <div class="col-sm-8">
                                        <input type="number" class="form-control" id="inputfojasunacara"
                                            name="fojasunacara" [(ngModel)]="data_expediente.fojas_unacara">
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label for="inputjojas" class="col-sm-4 col-form-label d-flex justify-content-end">2
                                        caras</label>
                                    <div class="col-sm-8">
                                        <input type="number" class="form-control" id="inputfojasdoscaras"
                                            name="fojasdoscaras" [(ngModel)]="data_expediente.fojas_doscaras">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-floating">
                                    <textarea class="form-control" placeholder="Leave a comment here"
                                        id="floatingTextareafojasgeneral2" style="height: 145px;resize: none"
                                        name="fojasobs" [(ngModel)]="data_expediente.fojas_obs"></textarea>
                                    <label for="floatingTextarea2">observaciones de fojas</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3 px-4">
                                <div class="form-check ">
                                    <input class="form-check-input" type="checkbox" value={true} id="opcion1"
                                        name="originales" [(ngModel)]="data_expediente.copias_originales">
                                    <label class="form-check-label" for="flexCheckDefault"> Doc Originales</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value={true} id="opcion2"
                                        name="copias" [(ngModel)]="data_expediente.copias_simples">
                                    <label class="form-check-label" for="flexCheckChecked"> Copias </label>
                                </div>

                            </div>
                            <!-- <div class="col-md-9">
                                <div class="form-floating">
                                    <textarea class="form-control" name="textobservacionesgenerales"
                                        placeholder="Leave a comment here" id="floatingTextareaobsgeneral2"
                                        style="height: 145px; resize: none"
                                        [(ngModel)]="data_expediente.observaciones"></textarea>
                                    <label for="floatingTextarea2">Observaciones generales</label>
                                </div>
                            </div> -->
                        </div>
                    </div>
                    <div class="d-grid gap-2 pt-4 mb-4">
                        <button class="btn btn-lg btn-success  " type="button" (click)="guardar()">GUARDAR</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>