<div class="panel">
    <app-navegador></app-navegador>
    <div class="fondo-volver container-fluid">
        <button class="m-2 mx-4 btn-volver" (click)="volver()">
            <i class="bi bi-arrow-left text-white"> volver </i>
        </button>
    </div>
    <div class="mx-4">
        <div class="row">
            <!-- DATOS Y FORMULARIO EXPEDIENTE -->
            <div class="col-lg-3 mt-3 ">
                <div class="menu-listado-expediente ">
                    <div class="titulo">Indexación del documento</div>
                    <div class="lista">
                        <div class="item">
                            <div class="name"><i class="bi bi-card-list"></i> Expediente: {{detalleExpediente.nombre_expediente}}
                            </div>
                        </div>
                    </div>
                    <div class="lista">
                        <div class="item">
                            <div class="name"><i class="bi bi-card-list"></i> Serie Doc: {{detalleExpediente.serie_doc}}
                            </div>
                        </div>
                    </div>
                    <div class="lista">
                        <div class="item">
                            <div class="name"><i class="bi bi-card-list"></i> Especialidad: {{detalleExpediente.especialidad_inventario}}
                            </div>
                        </div>
                    </div>
                    <div class="lista">
                        <div class="item">
                            <div class="name"><i class="bi bi-card-list"></i> Año: {{detalleExpediente.anio}} </div>
                        </div>
                    </div>
                    <!-- OBSERVACIONES DE PREPARADOR Y OBSERVACIONES DE DIGITALIZADOR-->
                    <p class="d-inline-flex gap-1 mt-1">

                        <button class="btn btn-sm btn-primary" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            OBSERVACIONES PREVIAS
                        </button>
                    </p>
                    
                    <div class="collapse " id="collapseExample">
                        <div class="card card-body mb-2">
                            <label class="opacity-50">Observaciones de preparación:</label>
                            {{detalleExpediente.fojas_obs}}
                        </div>
                        <div class="card card-body">
                            <label class="opacity-50">Observaciones de digitalización:</label>
                            {{observacionDigitalizado}}
                        </div>
                    </div>
                </div>
                <!-- DATOS COMPLEMENTARIOS  -->
                <form>
                    <div class="border border-secondary bg-secondary mt-3 ">
                        <h6 class="text-white m-2">DATOS COMPLEMENTARIOS</h6>
                    </div>
                    <!-- DATOS DE INVENTARIO -->
                    <fieldset class="px-4 rounded-bottom border-top-0 border shadow border-2">
                        <div class="form-group mt-2">
                            <label for="juzgado_origen" class="form-label ">Juzgado de origen:</label>
                          <input class="form-control form-control-sm " list="input_juzgado_origen" id="exampleDataList" >
                          <datalist id="input_juzgado_origen">
                            <option *ngFor="let option of datalistDistJudiciales" [value]="option"></option>
                          </datalist>
                        </div>
                        <div class="form-group ">
                            <label for="estado_proceso" class="form-label mt-2">Tipo Proceso:</label>
                            <select id="select_tipo_proceso" name="estado_proceso" class="form-control form-control-sm">
                                <option value="">ELIJA TIPO DE PROCESO </option>
                                <option value="PRINCIPAL">PRINCIPAL </option>
                                <option value="CUADERNO">CUADERNO</option>
                            </select>
                        </div>

                        <div class="form-group mb-2">
                            <label for="materia" class="form-label mt-2">Materia:</label>
                        
                          <input class="form-control form-control-sm" list="datalistOptions" id="input_materia" >
                          <datalist id="datalistOptions">
                            <option *ngFor="let option of datalistMateria" [value]="option"></option>
                          </datalist>
                        </div>
                        <div class="d-flex justify-content-between">
                            <label for="demantantes" class="form-label">Demandante(s):</label>
                            <i class="bi bi-plus-square-fill icon-mas mx-2" (click)="openModalDemandante()"></i>
                        </div>
                        <hr class="linea_tarjeta">
                        <div *ngFor="let demandante of listaTempDemanantes, let i = index" >
                                <div class="d-flex justify-content-between  div_parte ">
                                  <p class="truncate-text texto_parte">{{demandante.demandante}}</p>
                                  <p class="texto_parte">{{demandante.identificador}} <i class="bi bi-pencil mx-2" (click)="mostrarDatosDemandante(i)"></i></p>
                                </div>
                          </div>
                          <br>
                        <div class="d-flex justify-content-between">
                            <label for="demandados" class="form-label">Demandado(s):</label>
                            <i class="bi bi-plus-square-fill icon-mas mx-2" (click)="openModalDemandado()"></i>
                        </div>
                        <hr class="linea_tarjeta">
                        <div *ngFor="let demandado of listaTempDemandados, let i = index " >
                              <div  class="d-flex justify-content-between div_parte">
                                  <p class="truncate-text texto_parte">{{demandado.demandado}}</p>
                                  <p class="texto_parte">{{demandado.identificador}} <i  class="bi bi-pencil mx-2" (click)="mostrarDatosDemandado(i)"></i></p>
                              </div>
                          </div>
                        <button class="btn btn-sm btn-info mb-3 text-white"> mostrar datos</button>
  

                    </fieldset>

                </form>
            </div>
            <!-- MICROFORMA -->
            <div class="col" style="width:850px">
                <form>
                    <div class="border border-secondary bg-secondary ">
                        <h6 class="text-white m-2">INDEXACION</h6>
                    </div>
                    <!-- DATOS DE LA MICROFORMA -->
                    <fieldset class="px-4 rounded-bottom border-top-0 border shadow border-2 mb-5">
                        <table class="table text-center  table-hover table-sm">
                            <thead class="thead-ligth bg-secondary text-white table-success ">
                                <tr>
                                    <th scope="col">Nro</th>
                                    <th scope="col">ITEM</th>
                                    <th scope="col">INDICE</th>
                                    <th scope="col">FOJAS</th>
                                    <th scope="col">ORI</th>
                                    <th scope="col">COP</th>
                                    <th scope="col">COL</th>
                                    <th scope="col">ESG</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of indizacion, index as i" class="table-barra">
                                    <th scope="row">{{i+1}}</th>
                                    <td>{{item.descripcion}}</td>
                                    <td>{{item.indice}}</td>
                                    <td>{{item.fojas}}</td>
                                    <td>
                                        <i *ngIf="item.check_original" class="bi bi-check2-square"
                                            style="font-size: 1.5rem; color: rgb(6, 53, 185); padding: 0px 0px; margin: 0px 0px"></i>
                                        <i *ngIf="!item.check_original" class="bi bi-square"
                                            style="font-size: 1.5rem; color: rgba(197, 197, 198, 0.355); padding: 0px 0px; margin: 0px 0px"></i>
                                    </td>
                                    <td>
                                        <i *ngIf="item.check_copia" class="bi bi-check2-square"
                                            style="font-size: 1.5rem; color: rgb(6, 53, 185); padding: 0px 0px; margin: 0px 0px"></i>
                                        <i *ngIf="!item.check_copia" class="bi bi-square"
                                            style="font-size: 1.5rem; color: rgba(197, 197, 198, 0.355); padding: 0px 0px; margin: 0px 0px"></i>
                                    </td>
                                    <td>
                                        <i *ngIf="item.check_color" class="bi bi-check2-square"
                                            style="font-size: 1.5rem; color: rgb(6, 53, 185); padding: 0px 0px; margin: 0px 0px"></i>
                                        <i *ngIf="!item.check_color" class="bi bi-square"
                                            style="font-size: 1.5rem; color: rgba(197, 197, 198, 0.355); padding: 0px 0px; margin: 0px 0px"></i>
                                    </td>
                                    <td>
                                        <i *ngIf="item.check_escalagris" class="bi bi-check2-square"
                                            style="font-size: 1.5rem; color: rgb(6, 53, 185); padding: 0px 0px; margin: 0px 0px"></i>
                                        <i *ngIf="!item.check_escalagris" class="bi bi-square"
                                            style="font-size: 1.5rem; color: rgba(197, 197, 198, 0.355); padding: 0px 0px; margin: 0px 0px"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="d-flex justify-content-center align-items-center">
                            <i class="bi bi-plus-circle-fill icon-mas" (click)="openModalIndizadorPrimero()"></i>
                        </div>
                        <hr>
                        <div class="form-floating mb-2">
                            <textarea class="form-control" placeholder="Leave a comment here"
                                id="observaciones_generales" style="height: 50px"></textarea>
                            <label for="floatingTextarea2">Observaciones</label>
                        </div>
                        <div class="d-flex justify-content-end p-2  mb-4">
                            <button class="btn btn-sm btn-success " type="button"
                                (click)="preparacionGuardadoDatos()">GUARDAR</button>
                        </div>
                    </fieldset>
                </form>
                
                <div id="list-container">
                    <ol>
                      <li *ngFor="let item of data; let i = index">
                        {{ item.name }}
                        <button class="action-button" (click)="addSubItem(data, i)"><i class="bi bi-text-indent-left"></i></button>
                        <button class="action-button" (click)="editItem(data, i)"><i class="bi bi-pencil"></i></button>
                        <button class="action-button" (click)="deleteItem(data, i)"><i class="bi bi-x-circle"></i></button>
                        <ol *ngIf="item.subItems && item.subItems.length > 0">
                          <li *ngFor="let subItem of item.subItems; let j = index">
                            {{ subItem.name }} 
                            <button class="action-button" (click)="addSubItem(item.subItems, j)"><i class="bi bi-text-indent-left"></i></button>
                            <button class="action-button" (click)="editItem(item.subItems, j)"><i class="bi bi-pencil"></i></button>
                            <button class="action-button" (click)="deleteItem(item.subItems, j)"><i class="bi bi-x-circle"></i></button>
                            <ol *ngIf="subItem.subItems && subItem.subItems.length > 0">
                              <li *ngFor="let subSubItem of subItem.subItems; let k = index">
                                {{ subSubItem.name }} 
                                <button class="action-button" (click)="editItem(subItem.subItems, k)"><i class="bi bi-pencil"></i></button>
                                <button class="action-button" (click)="deleteItem(subItem.subItems, k)"><i class="bi bi-x-circle"></i></button>
                              </li>
                            </ol>
                          </li>
                        </ol>
                      </li>
                    </ol>
                  </div>
                  <button (click)="addItem()">Añadir ítem</button>
               
                  
            </div>
            <!-- IFRAME PDF -->
            <div class="col mx-2" style="padding: 0px 0px;">
                <iframe [src]="pdfUrl" type="application/pdf" width="100%" height="830px"></iframe>
            </div>
        </div>
    </div>
    <!-- MODAL DE DEMANDATE -->
    <div class="modal fade modal-lg" id="Modal_Demandante" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="form-group container">
                    <div class="m-4 p-4">
                        <label for="demandante" class="form-label">Datos del demandante (nombre y apellidos / razon social):</label>
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text " id="inputGroup-sizing-sm">DEMANDANTE:</span>
                            <input id="demandante" type="text" class="form-control"
                                aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                        </div>
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-sm">DNI / RUC: </span>
                            <input id="demandante_identificador" type="number" class="form-control"
                                aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                        </div>
                        <div class="d-flex justify-content-center">
                            <button class="btn btn-primary tn-sm" (click)="modificar_parte?modificarDatosDemandante():enviarTablaDemandantes()">{{titulo_boton}}</button>
                            <button class="btn btn-danger tn-sm mx-4" (click)="eliminarDatosDemandante()" [style]="disableButtonEliminar">Eliminar</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- MODAL DE DEMANDADO -->
    <div class="modal fade modal-lg" id="Modal_Demandado" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="form-group container">
                    <div class="m-4 p-4">
                        <label for="demandado" class="form-label">Datos del demandado:</label>
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text " id="inputGroup-sizing-sm">DEMANDADO:</span>
                            <input id="demandado" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                        </div>
                        
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-sm">DNI / RUC:</span>
                            <input id="demandado_identificador" type="number" class="form-control"
                                aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                        </div>
                        <div class="d-flex justify-content-center">
                            <button class="btn btn-primary tn-sm" (click)="modificar_parte?modificarDatosDemandado():enviarTablaDemandados()">{{titulo_boton}}</button>
                            <button class="btn btn-danger tn-sm mx-4" (click)="eliminarDatosDemandado()" [style]="disableButtonEliminar">Eliminar</button>

                            <!-- <button class="btn btn-primary tn-sm" (click)="enviarTablaDemandados()">{{titulo_boton}}</button> -->
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- MODAL DE INDIZACION -->
   
    <div class="modal fade modal-lg" id="Modal_Indizador_primero" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="form-group container">
                <div class="m-4 p-4">
                    <div>
                        <label for="descripcion" class="form-label">Descripción:</label>
                        <input id="indizacion_descripcion" type="text" class="form-control form-control-sm">
                    </div>
                    <div class="row my-2">
                        <div class="col">
                            <label for="indice" class="form-label">Indice:</label>
                            <input id="indizacion_indice" type="number" class="form-control form-control-sm">
                        </div>
                        <div class="col">
                            <label for="fojas" class="form-label">Fojas:</label>
                            <input id="indizacion_fojas" type="number" class="form-control form-control-sm">
                        </div>
                    </div>
                    <div>
                        <label for="caracteristicas" class="form-label">caracteristicas:</label>
                        <div class="form-check mx-4">
                            <input id="indizacion_checkbox_original" class="form-check-input" type="checkbox">
                            <label class="form-check-label" for="flexCheckDefault">
                                Original
                            </label>
                        </div>
                        <div class="form-check mx-4">
                            <input id="indizacion_checkbox_copia" class="form-check-input" type="checkbox">
                            <label class="form-check-label" for="flexCheckChecked">
                                Copia
                            </label>
                        </div>
                        <div class="form-check mx-4">
                            <input id="indizacion_checkbox_color" class="form-check-input" type="checkbox">
                            <label class="form-check-label" for="flexCheckDefault">
                                Color
                            </label>
                        </div>
                        <div class="form-check mx-4">
                            <input id="indizacion_checkbox_escalagris" class="form-check-input" type="checkbox">
                            <label class="form-check-label" for="flexCheckChecked">
                                Escala de Grises
                            </label>
                        </div>
                    </div>
                    <div class="form-floating my-2 mb-4">
                        <textarea id="indizacion_textarea" class="form-control" style="height: 100px"></textarea>
                        <label for="floatingTextarea2">observaciones</label>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-primary tn-sm" (click)="addItem()">Agregar  indización</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div class="modal fade modal-lg" id="Modal_Indizador_segundo" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="form-group container">
                <div class="m-4 p-4">
                    <div>
                        <label for="descripcion" class="form-label">Descripción:</label>
                        <input id="indizacion_descripcion_2" type="text" class="form-control form-control-sm">
                    </div>
                    <div class="row my-2">
                        <div class="col">
                            <label for="indice" class="form-label">Indice:</label>
                            <input id="indizacion_indice_2" type="number" class="form-control form-control-sm">
                        </div>
                        <div class="col">
                            <label for="fojas" class="form-label">Fojas:</label>
                            <input id="indizacion_fojas_2" type="number" class="form-control form-control-sm">
                        </div>
                    </div>
                    <div>
                        <label for="caracteristicas" class="form-label">caracteristicas:</label>
                        <div class="form-check mx-4">
                            <input id="indizacion_checkbox_original_2" class="form-check-input" type="checkbox">
                            <label class="form-check-label" for="flexCheckDefault">
                                Original
                            </label>
                        </div>
                        <div class="form-check mx-4">
                            <input id="indizacion_checkbox_copia_2" class="form-check-input" type="checkbox">
                            <label class="form-check-label" for="flexCheckChecked">
                                Copia
                            </label>
                        </div>
                        <div class="form-check mx-4">
                            <input id="indizacion_checkbox_color_2" class="form-check-input" type="checkbox">
                            <label class="form-check-label" for="flexCheckDefault">
                                Color
                            </label>
                        </div>
                        <div class="form-check mx-4">
                            <input id="indizacion_checkbox_escalagris_2" class="form-check-input" type="checkbox">
                            <label class="form-check-label" for="flexCheckChecked">
                                Escala de Grises
                            </label>
                        </div>
                    </div>
                    <div class="form-floating my-2 mb-4">
                        <textarea id="indizacion_textarea_2" class="form-control" style="height: 100px"></textarea>
                        <label for="floatingTextarea2">observaciones</label>
                    </div>
                    <div class="d-flex justify-content-center">
                        <!-- <button class="btn btn-primary tn-sm" (click)="modificar_indizacion?editItem(): addSubItem()">Agregar segundo</button> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    
</div>