<div class="panel">
    <app-navegador></app-navegador>
    <div class="fondo-volver container-fluid">
        <button class="m-2 mx-4 btn-volver" (click)="volver()">
            <i class="bi bi-arrow-left text-white"> volver </i>
        </button>
    </div>
    <div class="mx-4">
        <div class="row">
            <!-- DATOS Y FORMULARIO EXPEDIENTE -->
            <div class="col-lg-3 mt-3 ">
                <div class="menu-listado-expediente ">
                    <div class="titulo">Indexación del documento</div>
                    <div class="lista">
                        <div class="item">
                            <div class="name"><i class="bi bi-card-list"></i> Expediente: {{detalleExpediente.nombre_expediente}}
                            </div>
                        </div>
                    </div>
                    <div class="lista">
                        <div class="item">
                            <div class="name"><i class="bi bi-card-list"></i> Serie Doc: {{detalleExpediente.serie_doc}}
                            </div>
                        </div>
                    </div>
                    <div class="lista">
                        <div class="item">
                            <div class="name"><i class="bi bi-card-list"></i> Especialidad: {{detalleExpediente.especialidad_inventario}}
                            </div>
                        </div>
                    </div>
                    <div class="lista">
                        <div class="item">
                            <div class="name"><i class="bi bi-card-list"></i> Año: {{detalleExpediente.anio}} </div>
                        </div>
                    </div>
                    <!-- OBSERVACIONES DE PREPARADOR Y OBSERVACIONES DE DIGITALIZADOR-->
                    <p class="d-inline-flex gap-1 mt-1">

                        <button class="btn btn-sm btn-primary" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            OBSERVACIONES PREVIAS
                        </button>
                    </p>
                    
                    <div class="collapse " id="collapseExample">
                        <div class="card card-body mb-2">
                            <label class="opacity-50">Observaciones de preparación:</label>
                            {{detalleExpediente.fojas_obs}}
                        </div>
                        <div class="card card-body">
                            <label class="opacity-50">Observaciones de digitalización:</label>
                            {{observacionDigitalizado}}
                        </div>
                    </div>
                </div>
                <!-- DATOS COMPLEMENTARIOS  -->
                <form>
                    <div class="border border-secondary bg-secondary mt-3 ">
                        <h6 class="text-white m-2">DATOS COMPLEMENTARIOS</h6>
                    </div>
                    <!-- DATOS DE INVENTARIO -->
                    <fieldset class="px-4 rounded-bottom border-top-0 border shadow border-2">
                        <div class="form-group mt-2">
                            <label for="juzgado_origen" class="form-label ">Juzgado de origen:</label>
                          <input class="form-control form-control-sm " list="datalistOptions1" id="input_juzgado_origen" >
                          <datalist id="datalistOptions1">
                            <option *ngFor="let option of datalistDistJudiciales" [value]="option"></option>
                          </datalist>
                        </div>
                        <div class="form-group ">
                            <label for="estado_proceso" class="form-label mt-2">Tipo Proceso:</label>
                            <select id="select_tipo_proceso" name="estado_proceso" class="form-control form-control-sm">
                                <option value="">ELIJA TIPO DE PROCESO </option>
                                <option value="PRINCIPAL">PRINCIPAL </option>
                                <option value="CUADERNO">CUADERNO</option>
                            </select>
                        </div>

                        <div class="form-group mb-2">
                            <label for="materia" class="form-label mt-2">Materia:</label>
                        
                          <input class="form-control form-control-sm" list="datalistOptions2" id="input_materia" >
                          <datalist id="datalistOptions2">
                            <option *ngFor="let option of datalistMateria" [value]="option"></option>
                          </datalist>
                        </div>
<!-- falta poner fechas -->
                        <div class="form-group mb-4">
                           <div class="row">
                               <div class="col">
                                <label for="fecha_resolucion" class="form-label ">Fecha inicio:</label>
                                <input id="fecha_inicio" type="date" class="form-control form-control-sm" name="fecha_resolucion">
                               </div>
                               <div class="col">
                                <label for="fecha_resolucion" class="form-label ">Fecha final:</label>
                                <input id="fecha_final" type="date" class="form-control form-control-sm" name="fecha_resolucion">
                               </div>

                           </div>
                        </div>


                        <div class="d-flex justify-content-between" >
                            <label style="margin-bottom: 0px;" for="demantantes" class="form-label">Demandante(s):</label>
                            <i style="margin-bottom: 0px;" class="bi bi-plus-square-fill icon-mas mx-2" (click)="openModalDemandante()"></i>
                        </div>
                        <hr class="linea_tarjeta">
                        <div *ngFor="let demandante of listaTempDemanantes, let i = index" >
                                <div class="d-flex justify-content-between  div_parte ">
                                  <p class="truncate-text texto_parte">{{demandante.demandante}}</p>
                                  <p class="texto_parte">{{demandante.identificador}} <i class="bi bi-pencil mx-2" (click)="mostrarDatosDemandante(i)"></i></p>
                                </div>
                          </div>
                          <br>
                        <div class="d-flex justify-content-between">
                            <label style="margin-bottom: 0px;" for="demandados" class="form-label">Demandado(s):</label>
                            <i  style="margin-bottom: 0px;" class="bi bi-plus-square-fill icon-mas mx-2" (click)="openModalDemandado()"></i>
                        </div>
                        <hr class="linea_tarjeta">
                        <div *ngFor="let demandado of listaTempDemandados, let i = index " >
                              <div  class="d-flex justify-content-between div_parte">
                                  <p class="truncate-text texto_parte">{{demandado.demandado}}</p>
                                  <p class="texto_parte">{{demandado.identificador}} <i  class="bi bi-pencil mx-2" (click)="mostrarDatosDemandado(i)"></i></p>
                              </div>
                          </div>
                          <br>
                        <!-- <button class="btn btn-sm btn-info mb-3 text-white" (click)="ModificarDatosComplementariosExpediente()"> mostrar datos</button> -->
                    </fieldset>
                </form>
            </div>
            <!-- MICROFORMA -->
            <div class="col" style="width:850px">
                <form>
                    <div class="border border-secondary bg-secondary ">
                        <h6 class="text-white m-2">INDEXACION</h6>
                    </div>
                    <!-- DATOS DE LA MICROFORMA -->
                    <fieldset class="px-4 rounded-bottom border-top-0 border shadow border-2 mb-5">
                        <div class="d-flex justify-content-between">
                            <label style="margin-bottom: 0px; margin-top: 20px;" for="indice" class="form-label">Indice</label>
                        </div>
                        <hr class="linea_tarjeta">
                         <!-- creacion de indice -->
                         <div id="list-container">
                            <ol>
                              <li *ngFor="let item of dataIndizacion; let i = index"  >
                               <!-- <div>{{ item.descripcion }}</div>  -->
                               {{ item.descripcion }}
                               {{'(Pg.'+ item.indice+' )' }}
                                 <!-- <span class="d-flex justify-content-between"><span>{{ item.descripcion }} </span> <samp>{{ item.indice }}</samp></span> -->
                                <button class="action-button" (click)="addSubItem(dataIndizacion, i)"><i class="bi bi-text-indent-left"></i></button>
                                <button class="action-button" (click)="editItem(dataIndizacion, i)"><i class="bi bi-pencil"></i></button>
                                <button class="action-button" (click)="deleteItem(dataIndizacion, i)"><i class="bi bi-x-circle"></i></button>
                                
                        
                                   
                                <ol *ngIf="item.subItems && item.subItems.length > 0">
                                  <li *ngFor="let subItem of item.subItems; let j = index">
                                    {{ subItem.descripcion }} 
                                    {{'(Pg.'+ subItem.indice+' )' }}
                                    <button class="action-button" (click)="addSubItem(item.subItems, j)"><i class="bi bi-text-indent-left"></i></button>
                                    <button class="action-button" (click)="editItem(item.subItems, j)"><i class="bi bi-pencil"></i></button>
                                    <button class="action-button" (click)="deleteItem(item.subItems, j)"><i class="bi bi-x-circle"></i></button>
                                    <ol *ngIf="subItem.subItems && subItem.subItems.length > 0">
                                      <li *ngFor="let subSubItem of subItem.subItems; let k = index">
                                         {{ subSubItem.descripcion }} 
                                         {{'(Pg.'+ subSubItem.indice+' )' }}
                                        <button class="action-button" (click)="editItem(subItem.subItems, k)"><i class="bi bi-pencil"></i></button>
                                        <button class="action-button" (click)="deleteItem(subItem.subItems, k)"><i class="bi bi-x-circle"></i></button>
                                      </li>
                                    </ol>
                                  </li>
                                </ol>
                              </li>
                            </ol>
                          </div>
                          <button type="button" class="btn btn-sm btn-outline-primary" (click)="addItem()">+ Agregar elemento</button>

                        <hr>
                        <div class="form-floating mb-2">
                            <textarea class="form-control" placeholder="Leave a comment here"
                                id="observaciones_generales" style="height: 50px"></textarea>
                            <label for="floatingTextarea2">Observaciones</label>
                        </div>
                        <div class="d-flex justify-content-end p-2  mb-4">
                            <button class="btn btn-sm btn-success " type="button"
                                (click)="CrearIndizacion()">GUARDAR</button>
                        </div>
                    </fieldset>
               
                </form>
                
                
                  
                
               
                  
            </div>
            <!-- IFRAME PDF -->
            <div class="col mx-2" style="padding: 0px 0px;">
                <iframe [src]="pdfUrl" type="application/pdf" width="100%" height="830px"></iframe>
            </div>
        </div>
    </div>
    <!-- MODAL DE DEMANDATE -->
    <div class="modal fade modal-lg" id="Modal_Demandante" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="form-group container">
                    <div class="m-4 p-4">
                        <label for="demandante" class="form-label">Datos del demandante (nombre y apellidos / razon social):</label>
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text " id="inputGroup-sizing-sm">DEMANDANTE:</span>
                            <input id="demandante" type="text" class="form-control"
                                aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                        </div>
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-sm">DNI / RUC: </span>
                            <input id="demandante_identificador" type="number" class="form-control"
                                aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                        </div>
                        <div class="d-flex justify-content-center">
                            <button class="btn btn-primary tn-sm" (click)="modificar_parte?modificarDatosDemandante():enviarTablaDemandantes()">{{titulo_boton}}</button>
                            <button class="btn btn-danger tn-sm mx-4" (click)="eliminarDatosDemandante()" [style]="disableButtonEliminar">Eliminar</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- MODAL DE DEMANDADO -->
    <div class="modal fade modal-lg" id="Modal_Demandado" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="form-group container">
                    <div class="m-4 p-4">
                        <label for="demandado" class="form-label">Datos del demandado:</label>
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text " id="inputGroup-sizing-sm">DEMANDADO:</span>
                            <input id="demandado" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                        </div>
                        
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-sm">DNI / RUC:</span>
                            <input id="demandado_identificador" type="number" class="form-control"
                                aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                        </div>
                        <div class="d-flex justify-content-center">
                            <button class="btn btn-primary tn-sm" (click)="modificar_parte?modificarDatosDemandado():enviarTablaDemandados()">{{titulo_boton}}</button>
                            <button class="btn btn-danger tn-sm mx-4" (click)="eliminarDatosDemandado()" [style]="disableButtonEliminar">Eliminar</button>

                            <!-- <button class="btn btn-primary tn-sm" (click)="enviarTablaDemandados()">{{titulo_boton}}</button> -->
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- MODAL DE INDIZACION -->
   
    <div class="modal fade modal-lg" id="Modal_Indizador_primero" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="form-group container">
              
                <div class="m-4 p-4">
                    <hr>
                    <div class="row my-2">
                        <div class="col col-lg-6" style="padding:0px 5px;">
                            <label for="descripcion" class="form-label">Descripción:</label>
                            <input id="indizacion_descripcion" type="text" class="form-control form-control-sm">
                        </div>
                        <div class="col col-lg-2" style="padding:0px 10px;">
                            <label for="indice" class="form-label">Indice:</label>
                            <input id="indizacion_indice" type="number" class="form-control form-control-sm">
                        </div>
                        <div class="col col-lg-2" style="padding:0px 10px;">
                            <label for="fojas" class="form-label">Fojas:</label>
                            <input id="indizacion_fojas" type="number" class="form-control form-control-sm">
                        </div>
                        <div class="col col-lg-2 " style="padding:0px 5px;">
                            <label for="fecha_indice" class="form-label ">Fecha:</label>
                            <input id="fecha_indice" type="date" class="form-control form-control-sm" name="fecha_indice">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-lg-4">
                            <label for="caracteristicas" class="form-label">caracteristicas:</label>
                            <div class="form-check mx-4">
                                <input id="indizacion_checkbox_original" class="form-check-input" type="checkbox">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Original
                                </label>
                            </div>
                            <div class="form-check mx-4">
                                <input id="indizacion_checkbox_copia" class="form-check-input" type="checkbox">
                                <label class="form-check-label" for="flexCheckChecked">
                                    Copia
                                </label>
                            </div>
                            <div class="form-check mx-4">
                                <input id="indizacion_checkbox_color" class="form-check-input" type="checkbox">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Color
                                </label>
                            </div>
                            <div class="form-check mx-4">
                                <input id="indizacion_checkbox_escalagris" class="form-check-input" type="checkbox">
                                <label class="form-check-label" for="flexCheckChecked">
                                    Escala de Grises
                                </label>
                            </div>
                        </div>
                        <div class="col col-lg-8">
                            <div class="form-floating my-2 mb-4">
                                <textarea id="indizacion_textarea" class="form-control" style="height: 125px"></textarea>
                                <label for="floatingTextarea2">observaciones</label>
                            </div>
                        </div>
                    </div>
                     <hr>
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-primary tn-sm" (click)="registrarItem()">Agregar  indización</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="modal fade modal-lg" id="Modal_Indizador_segundo" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="form-group container">
              
                <div class="m-4 p-4">
                    <hr>
                    <div class="row my-2">
                        <div class="col col-lg-6" style="padding:0px 5px;">
                            <label for="descripcion" class="form-label">Descripción:</label>
                            <input id="indizacion_descripcion_2" type="text" class="form-control form-control-sm">
                        </div>
                        <div class="col col-lg-2" style="padding:0px 10px;">
                            <label for="indice" class="form-label">Indice:</label>
                            <input id="indizacion_indice_2" type="number" class="form-control form-control-sm">
                        </div>
                        <div class="col col-lg-2" style="padding:0px 10px;">
                            <label for="fojas" class="form-label">Fojas:</label>
                            <input id="indizacion_fojas_2" type="number" class="form-control form-control-sm">
                        </div>
                        <div class="col col-lg-2 " style="padding:0px 5px;">
                            <label for="fecha_indice" class="form-label ">Fecha:</label>
                            <input id="fecha_indice_2" type="date" class="form-control form-control-sm" name="fecha_indice">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-lg-4">
                            <label for="caracteristicas" class="form-label">caracteristicas:</label>
                            <div class="form-check mx-4">
                                <input id="indizacion_checkbox_original_2" class="form-check-input" type="checkbox">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Original
                                </label>
                            </div>
                            <div class="form-check mx-4">
                                <input id="indizacion_checkbox_copia_2" class="form-check-input" type="checkbox">
                                <label class="form-check-label" for="flexCheckChecked">
                                    Copia
                                </label>
                            </div>
                            <div class="form-check mx-4">
                                <input id="indizacion_checkbox_color_2" class="form-check-input" type="checkbox">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Color
                                </label>
                            </div>
                            <div class="form-check mx-4">
                                <input id="indizacion_checkbox_escalagris_2" class="form-check-input" type="checkbox">
                                <label class="form-check-label" for="flexCheckChecked">
                                    Escala de Grises
                                </label>
                            </div>
                        </div>
                        <div class="col col-lg-8">
                            <div class="form-floating my-2 mb-4">
                                <textarea id="indizacion_textarea_2" class="form-control" style="height: 125px"></textarea>
                                <label for="floatingTextarea2">observaciones</label>
                            </div>
                        </div>
                    </div>
                     <hr>
                     <div class="d-flex justify-content-center">
                        <button class="btn btn-primary tn-sm" id="boton_agregar_subitem">{{modificar_indizacion?'Modificar':'Agregar'}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>