<div class="panel">
    <app-navegador></app-navegador>
    <div class="fondo-volver container-fluid">
        <button class="m-2 mx-4 btn-volver" (click)="volver()">
            <i class="bi bi-arrow-left text-white"> volver </i>
        </button>
    </div>

    <div class="contenedor">

        <div class="row" >
            <div class="col-lg-3" >
                <div class="menu-listado-inventario">
                    <div class="titulo">DATOS DE INVENTARIO</div>
                    
                    <div class="lista">
                        <div class="item" ><div class="name"> <i class="bi bi-card-list mx-2 "></i>  Año: {{inventarioDetalle.anio}}</div></div>
                    </div>
                    <div class="lista">
                        <div class="item" ><div class="name"><i class="bi bi-card-list mx-2"></i> Cantidad: {{this.expedientesListTemp.length}}</div></div>
                    </div>
                    <div class="lista">
                        <div class="item"  ><div class="name"><i class="bi bi-card-list mx-2"></i> Especialidad: {{inventarioDetalle.especialidad_inventario}}</div></div>
                    </div>
                    <!-- <div class="lista">
                        <div class="item" ><div class="name"> <i class="bi bi-card-list mx-2"></i> Serie de Doc: {{inventarioDetalle.serie_doc}}</div></div>
                    </div> -->
                    <div class="lista">
                        <div class="item" ><div class="name"> <i class="bi bi-card-list mx-2"></i> Tipo de Doc: {{inventarioDetalle.tipo_doc}}</div></div>
                    </div>
                    <div class="lista">
                        <div class="item" ><div class="name"> <i class="bi bi-card-list mx-2"></i> Supervisor: {{inventarioDetalle.nombre+' '+inventarioDetalle.ap_paterno}}</div></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="presentacion_user mb-4">
                    <div class="icon-title-container">
                        <i class="bi bi-card-list icon-custom"></i>
                        <h2 class="titulo_reporte mx-2"> REPORTE GENERAL DE EXPEDIENTES</h2>
                        
                    </div>
                </div>

                <div class="card rounded shadow border-2 " >
                    <div class="card-header py-3  ">
                        <div class="mb-2 d-flex align-items-center">
                            <button class="btn btn-secondary btn-sm ">preparación({{this.expedientesListTemp.length-exp_count_pendientes}})</button>
                            <button type="button" class="btn btn-outline-success btn-sm mx-2 " (click)="listarExpedientesPendientes()">pendientes({{exp_count_pendientes}})</button>
                            <button type="button" class="btn btn-outline-primary btn-sm " (click)="restaurarLista()"><i class="bi bi-arrow-clockwise"></i></button>
                            <input type="text" class="form-control form-control-sm mx-2" name="registroexpediente" placeholder="Buscar expediente" (input)="buscarEnObjeto($event)">
                        </div>
                    </div>
                    <div class="card-body px-5 bg-white rounded">
                        
                          
                      <div class="table-responsive">
                        <table class="table text-center  table-hover" id="excel-table">
                            <colgroup>
                                <col style="width: 5%;">
                                <col style="width: 20%;">
                                <col style="width: 15%;">
                                <col style="width: 15%;">
                                <col style="width: 15%;">
                                <col style="width: 15%;">
                                <col style="width: 15%;">
                              </colgroup>
                            <thead class="table-success">
                              <tr>
                                <th scope="col">Nro</th>
                                <th scope="col">EXPEDIENTE</th>
                                <th scope="col">PREPARADOR</th>
                                <th scope="col">DIGITALIZADOR</th>
                                <th scope="col">INDIZADOR</th>
                                <th scope="col">CONTROL</th>
                                <th scope="col">FEDATARIO</th>
                              </tr>
                            </thead>
                
                            <tbody>
                                <tr *ngFor="let expediente of expedientesList | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
                                  <th scope="row">{{ i + (p - 1) * 10 + 1 }}</th>
                                  <td>{{expediente.nombre_expediente}}</td>
                                  <td>{{expediente.usuario_responsable_expediente}}</td>
                                  <td>{{expediente.usuario_responsable_digitalizacion}}</td>
                                  <td>{{expediente.usuario_responsable_indizacion}}</td>
                                  <td>{{expediente.usuario_responsable_control_calidad}}</td>   
                                  <td>{{expediente.usuario_responsable_fedatar}}</td>
                                  
                                </tr>
                              </tbody>
                        </table>
                        <div class="d-flex justify-content-end ">
                            <pagination-controls (pageChange)="p = $event"   previousLabel="Anterior"   nextLabel="Siguiente"  ></pagination-controls>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>         
        </div>
    </div>    
</div>
