<div class="panel">
    <app-navegador></app-navegador>
    <div class="fondo-volver container-fluid">
        <button class="m-2 mx-4 btn-volver" (click)="volver()">
            <i class="bi bi-arrow-left text-white"> volver </i>
        </button>
    </div>

    <div class="contenedor">

        <div class="row" >
            <div class="col-lg-3" >
                <div class="menu-listado-reportes">
                    <div class="titulo">DATOS DE INVENTARIO</div>
                    
                    <div class="lista">
                        <div class="item" ><div class="name"> <i class="bi bi-card-list mx-2 "></i>  Año: {{inventarioDetalle.anio}}</div></div>
                    </div>
                    <div class="lista">
                        <div class="item" ><div class="name"><i class="bi bi-card-list mx-2"></i> Cantidad: {{this.expedientesListTemp.length}}</div></div>
                    </div>
                    <div class="lista">
                        <div class="item"  ><div class="name"><i class="bi bi-card-list mx-2"></i> Especialidad: {{inventarioDetalle.especialidad_inventario}}</div></div>
                    </div>
                    <div class="lista">
                        <div class="item" ><div class="name"> <i class="bi bi-card-list mx-2"></i> Serie de Doc: {{inventarioDetalle.serie_doc}}</div></div>
                    </div>
                    <div class="lista">
                        <div class="item" ><div class="name"> <i class="bi bi-card-list mx-2"></i> Tipo de Doc: {{inventarioDetalle.tipo_doc}}</div></div>
                    </div>
                    <div class="lista">
                        <div class="item" ><div class="name"> <i class="bi bi-card-list mx-2"></i> Supervisor: {{inventarioDetalle.nombre+' '+inventarioDetalle.ap_paterno}}</div></div>
                    </div>
                </div>
              
                
            </div>
            <div class="col-lg-9">
                <div class="presentacion_user mb-4">
                    <div class="icon-title-container">
                        <i class="bi bi-card-list icon-custom"></i>
                        <h2 class="titulo_reporte mx-2"> REGISTRO DE EXPEDIENTES DE INVENTARIO</h2>
                        
                    </div>
                    <label id="mensaje_preparador" style="color: green; font-size: large;" for="" [style]="disableMensajePreparador">¡Expedientes listos en preparación!</label>
                </div>

                <div class="card rounded shadow border-2 ">
                    <div class="card-header py-3 d-flex justify-content-between align-items-center ">
                        <input id="input_ingreso_expediente" type="text" class="form-control" name="registroexpediente"   placeholder="Ingrese el titulo del expediente" [(ngModel)]="data_expediente.nombre_expediente" (keydown)="onEnterPress($event)" >
                        <button id="buton_agregar" type="button" class="btn btn-success mx-4" (click)="agregarExpediente()"  >AGREGAR</button>                        
                    </div>
                    <div class="card-body px-5 bg-white rounded">
                        <div class="mb-2">
                            <button class="btn btn-secondary btn-sm">en preparción ({{this.expedientesListTemp.length-exp_count_pendientes}})</button>
                            <button type="button" class="btn btn-outline-success btn-sm mx-2" (click)="listarExpedientesPendientes()">pendientes ({{exp_count_pendientes}})</button>
                            <button type="button" class="btn  btn-outline-primary btn-sm" (click)="restaurarLista()"><i class="bi bi-arrow-clockwise"></i></button>
                        </div>
                      <div class="table-responsive">
                        <table class="table text-center  table-hover" id="excel-table">
                            <colgroup>
                                <col style="width: 5%;">
                                <col style="width: 75%;">
                                <col style="width: 10%;">
                                <col style="width: 10%;">
                              </colgroup>
                            <thead class="text-white table-success">
                              <tr>
                                <th scope="col">Nro</th>
                                <th scope="col">EXPEDIENTE</th>
                                <th scope="col">MODIFICAR</th>
                                <th scope="col">ELIMINAR</th>
                              </tr>
                            </thead>
                
                            <tbody >
                              <tr *ngFor="let expediente of expedientesList, index as i"  >
                                
                               <th scope="row">{{i+1}}</th>
                                 <td>{{expediente.nombre_expediente}}</td>
                                <td ><i class="bi bi-pencil" (click)="exmodificarExpediente(expediente)" ></i></td>
                                <td ><i class="bi bi-trash" (click)="exEliminarExpediente(expediente)"></i></td>
                              </tr> 
                            </tbody>
                        </table>
                        <div class="d-flex justify-content-center">
                            <button id="boton_preparacion" type="button" class="btn btn-info mx-4 text-white" (click)="enviarApreparacion()" >ENVIAR A PREPARACION</button>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>         
        </div>
    </div>    
</div>
