<div class="panel">
  <app-navegador></app-navegador>
  <div class="fondo-volver container-fluid">
    <button class="m-2 mx-4 btn-volver" (click)="volver()">
      <i class="bi bi-arrow-left text-white"> volver </i>
    </button>
  </div>

  <div>
    <div class="row m-4">
      <div class="col-lg-3">
        <div class="menu-listado-reportes">
          <div class="titulo">DATOS DE INVENTARIO:</div>
          <div class="lista">
            <div class="item">
              <div class="name"><i class="bi bi-card-list"></i> Año: {{inventarioDetalle.anio}}</div>
            </div>
          </div>
          <div class="lista">
            <div class="item">
              <div class="name"><i class="bi bi-card-list"></i> Cantidad: {{inventarioDetalle.cantidad}}</div>
            </div>
          </div>
          <div class="lista">
            <div class="item">
              <div class="name"><i class="bi bi-card-list"></i> Especialidad: {{inventarioDetalle.especialidad_inventario}}</div>
            </div>
          </div>
          <div class="lista">
            <div class="item">
              <div class="name"><i class="bi bi-card-list"></i> Serie de documento: {{inventarioDetalle.serie_doc}}</div>
            </div>
          </div>
          <div class="lista">
            <div class="item">
              <div class="name"><i class="bi bi-card-list"></i> Tipo de documento: {{inventarioDetalle.tipo_doc}}</div>
            </div>
          </div>
          <div class="lista">
            <div class="item">
              <div class="name"><i class="bi bi-card-list"></i> Supervisor: {{inventarioDetalle.nombre + ' ' + inventarioDetalle.ap_paterno}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="presentacion_user mb-4">
          <div class="icon-title-container">
            <i class="bi bi-card-list icon-custom"></i>
            <h2 class="titulo_reporte mx-2">CONTROL DE CALIDAD</h2>
          </div>
        </div>
        <div class="card rounded shadow border-2">
          <div class="card-header py-3 d-flex justify-content-between align-items-center">
            <input type="text" class="form-control" name="registroexpediente" placeholder="Buscar expediente" (input)="buscarEnObjeto($event)">
          </div>
          <div class="card-body px-3 bg-white rounded">
            <div class="table-responsive">
              <table class="table text-center table-hover" id="excel-table">
                <colgroup>
                  <col style="width: 10%;">
                  <col style="width: 70%;">
                  <col style="width: 10%;">
                </colgroup>
                <thead class="text-white table-success">
                  <tr>
                    <th scope="col">Nro</th>
                    <th scope="col">EXPEDIENTE</th>
                    <th scope="col">DOC</th>
                    <th scope="col">EST</th>
                  </tr>
                </thead>
                <tbody *ngFor="let expediente of expedientesList; index as i">
                  <tr>
                    <th >{{i + 1}}</th>
                    <td (click)="!expediente.estado_controlado ? MostrarModal(expediente.id_expediente) : mensajeEstado()"     >{{expediente.nombre_expediente}}</td>
                    <td>
                      <i class="bi bi-file-earmark-pdf-fill" style="color: brown; font-size: 1.5rem; padding: 0px 0px; margin: 0px 0px" (click)="obtenerDocumentoDigitalizado(expediente.id_expediente)"></i>
                    </td>
                    <td>
                      <i *ngIf="expediente.estado_controlado" class="bi bi-check-lg" style="font-size: 1.5rem; color: green; padding: 0px 0px; margin: 0px 0px"></i>
                      <i *ngIf="!expediente.estado_controlado" class="bi bi-file-earmark-x" style="font-size: 1.5rem; padding: 0px 0px; margin: 0px 0px"></i>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <iframe [src]="pdfUrl" type="application/pdf" width="100%" height="850px"></iframe>
      </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="d-flex justify-content-center mt-4">
            <h4>{{expedientetemp.nombre_expediente}}</h4>
          </div>
          <div class="card card-body m-4">
            <div class="form-check d-flex justify-content-start mx-4">
              <input class="form-check-input" type="checkbox" value="true" id="controlcalidad_checkbox_formato">
              <label class="form-check-label mx-2" for="controlcalidad_checkbox_formato">FORMATO</label>
            </div>
            <div class="form-check d-flex justify-content-start mx-4">
              <input class="form-check-input" type="checkbox" value="true" id="controlcalidad_checkbox_peso" name="escala_gris">
              <label class="form-check-label mx-2" for="controlcalidad_checkbox_peso">PESO</label>
            </div>
            <div class="form-check d-flex justify-content-start mx-4">
              <input class="form-check-input" type="checkbox" value="true" id="controlcalidad_checkbox_nitidez">
              <label class="form-check-label mx-2" for="controlcalidad_checkbox_nitidez">NITIDEZ</label>
            </div>
            <div class="form-check d-flex justify-content-start mx-4">
              <input class="form-check-input" type="checkbox" value="true" id="controlcalidad_checkbox_pruebas">
              <label class="form-check-label mx-2" for="controlcalidad_checkbox_pruebas">PRUEBAS</label>
            </div>
            <div class="form-floating my-2">
              <textarea class="form-control" id="controlcalidad_textarea" style="height: 100px; resize: none"></textarea>
              <label class="mx-4" for="controlcalidad_textarea">Observaciones</label>
            </div>
            <div class="container mb-4">
              <div class="d-flex justify-content-center mt-4">
                <button type="button" class="btn btn-danger button-full-width" (click)="MensajeDeGuardado()">RECHAZAR</button>
                <button type="button" class="btn btn-success button-full-width mx-2" (click)="aprobarControlCalidad()">APROBAR</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
